*body
{    
margin: 0;
padding: 0;
font-family: sans-serif;

background: url(wallpaper1.jpg) no-repeat;
background-size: cover;
}*/
h1{
    text-align:center;
    color:#56cfe1;
    font-size:30px;
    
}
.login-box
{
width:280px;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:tomato;
}
.login-box h1
{
float:left;
font-size:40px;
border-bottom: 6px solid #4caf50;
margin-bottom: 50px;
padding:13px;
}
.textbox{
width: 100%;
overflow: hidden;
font-size: 20px;
padding: 8px 0;
border-bottom: 1px solid #4caf50;
margin:
}
.btn
{
  margin-top: 10px;
    background-color:#d90429;
}
#left-frame
{
 margin-top: 10px;
 height: 680px;
 width: 15%;
 background-color: #fec107;
}
#main-frame{
 height: 680px;
 width: 70%;
}
#right-frame{
 background-color: #fec107;
 width: 14.4%;
 height: 680px;
}
li a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: all 0.3s ease-in;
 }
 li{
  margin: 30px;
  list-style-type: none;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
 }
 li a:hover{
  color:#fec107;
 }
 ul li:last-child{
  background-color: #fec107;
 }
 ul li a:last-child:hover{
  color: whitesmoke;
 }
 h1{
  text-align: center;
 }
 .main>h1{
  text-align: center;
 }
 .para{
  padding: 20px;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
 }
 .para-announce{
  text-align: center;
  background-color: #ffd658;
 }
 .announce-ul li{
  list-style-type: disc;
 }
 
 *{
  padding:0;
  margin:0;
  font-family:sans-serif;
}
body{
  background:#000;

}
.container span{
  text-align:center;
  position:absolute;
  top:50%;
  left:50%;

}
.container span{
  color:white;
  text-transform:uppercase;
  display:block;
  transform: translate(-50%,-50%);
  width:100%;

}
.container span{
  text-transform:uppercase;
  display:block;
}
.text1{
  color:white;
  font-size:60px;
  font-weight:700;
  letter-spacing:8px;
  margin-bottom:20px;
  background:black;
  position:relative;
  animation:text 3s 1;
}

  .text2{
      font-size:30px;
      color:#6ab04c;

  }
@keyframes text{
    0%{
        color:black;
        margin-bottom:-40px;
    }
    30%{
        letter-spacing:25px;
        margin-bottom:-40px;
    }
    85%{
        letter-spacing:8px;
        margin-bottom:-40px;
    }
}  

